<!DOCTYPE html>
<html>

<head>
    <title>IoT Simulator</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <h1 style="text-align: center;">IoT Simulator</h1>

    <br>
    <br>
    <div class="row">
        <div class="column">
            </iframe>
        </div>
        <div class="column">

        </div>
    </div>



    <div style="width: 100%; overflow: hidden;">
        <div style="width: 50%; float: left; height: 600px"> <iframe src="/controller" width="99%"
                height="100%"></iframe> </div>
        <div style="margin-left: 52%;  height: 600px"><iframe src="/simulation" width="99%"
                height="100%"></iframe></div>
    </div>

</body>

</html>